body {
    margin: 0px;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    display: flex;
    position: relative;
    background-image: url("./src/side-image.jpg");
    flex: 2, 0, 0%;
    background-size: cover;
    background-position: center;
    width: 35%;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    top: 30vh;
    height: 18vh;
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    opacity: 0.6;
}

.odin-logo {
    width: 10vh;
    height: auto;
}

.logo-text {
    font-size: 6vw;
}

.left-footer {
    position: absolute;
    bottom: 0;
    color: white;
    margin-bottom: 10px;
}

.left-footer>a {
    text-decoration: underline;
    color: white
}

.right {
    background-color: #f0eeee;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label,
input {
    display: block;
}

.form-container {
    background-color: white;
    position: relative;
    box-shadow: 1px 1px 1px black;
    padding: 1rem;

}

#form {
    width: 50%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column-one,
.column-two {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text-container {
    font-size: 2rem;
    margin: 3rem;
}

input {
    border-radius: 10px;
    line-height: 1.3;
    font-size: 20px;
}

input:invalid:not(:placeholder-shown) {
    outline: 1px solid rgb(255, 112, 112);
}

input:focus {
    outline: 2px solid rgb(146, 146, 255);
}

.account-container {
    margin: 2.5rem;
}

.account-container>button {
    background-color: #859096;
    font-size: 20px;
    padding: 6px 12px;
    border-radius: 10px;
}
.account-container>p>a{
    text-decoration: none;
    color: #859096;
    font-weight: 800
}