body {
    margin: 0px;
}
.container {
    display: flex;
    height: 100vh;
}

.left {
    display: flex ;
    position: relative;
    background-image: url("./src/side-image.jpg");
    flex: 2,0,0%;
    background-size:cover;
    background-position: center;
    width: 35%;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    top: 30vh;
    height: 18vh;
    width: 100%;
    gap: 10px;
    display:flex; 
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    opacity: 0.6;
}

.odin-logo {
    width: 10vh;
    height: auto;
}

.logo-text {
    font-size: 6vw;
}

.left-footer {
    position: absolute;
    bottom: 0;
    color: white;
    margin-bottom: 10px;
}

.left-footer > a
{
    text-decoration: underline;
    color: white
}

.right {
    background-color: #d6d6d6;
    width:  65%;
}